@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
h2,
p,
h3,
h5,
li {
  font-family: "Open Sans", sans-serif;
}
a,
h4 {
  font-family: "Satisfy", cursive;

  font-weight: 800;
}
li {
  list-style: none;
}
a:hover {
  color: #fdc912;
}
.swiper-pagination-bullet-active {
  background-color: #fbca10 !important;
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #fbca10 !important;
}
.swiper-button-prev,
.swiper-button-next {
  width: 20px !important;
  height: 20px !important;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 18px;
  top: 40% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #ffffff !important;
  font-size: 15px !important;
}

.swiper-pagination-bullet {
  margin-top: 20px;
  font-size: 12px;
}
